extends layout

block content

  h1= title
  p You can #{title} via any of the following channels.
  p Email: emmilytatas@gmail.com
  p Phone number : +234 8103 646 915
  p Office Address: No 99, Developer Street.