extends layout
style. 
  h1{
    text-align: center;
    color: blue;
  }
block content

  h1 Welcome to Kodewit Bata #{title} page
  p Welcome to  Kodewit Bata.
  p Problem Solving is one of the characteristics of Web Developers or you can say Programmers/software Engineers. Kodewit Bata is a platform that gives newbie in the tech space an edge over a bunch of software Developers out there, equipping you with formidable skills that will always keep you on-top the tech chain.
    img(src="http://localhost:3000/images/funny.jpg", alt="meme", srcset="")
  p Come on!! it's gonna be a smooth one... 
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. In tempora saepe quibusdam eligendi unde obcaecati maxime omnis odio necessitatibus dignissimos? Expedita fuga veniam atque inventore unde reiciendis dolores alias sed perferendis, magnam obcaecati in voluptatibus impedit maiores quas sapiente corrupti numquam doloribus error eaque nobis illo neque. Voluptates, rerum voluptatibus iure fugit recusandae odio delectus temporibus quidem at facere animi esse illum aut ducimus, commodi et, expedita culpa nobis dolorum? Sit illo quos recusandae non magnam mollitia dolore aliquam eum, ab vero, quibusdam eius sunt rem ea dicta pariatur accusamus nam. Provident esse dolore nesciunt voluptatem. autem asperiores adipisci officiis dolorem fugiat iure, atque et voluptatum vero unde nisi facilis explicabo cum rem voluptates ea obcaecati! Nobis illum ratione at hic, accusantium neque dolorum corporis, eveniet temporibus rem laboriosam? Ipsa perspiciatis aperiam dolores? Voluptatibus officiis accusamus incidunt, saepe provident at assumenda eaque itaque omnis. Sit rem sequi eos mollitia labore corrupti ratione in a? Reprehenderit quo eius, consequuntur aliquid rerum velit nihil beatae. Accusantium natus perspiciatis tempora possimus aliquid aspernatur et aut consequatur asperiores illum itaque, suscipit deleniti nemo magnam voluptatibus optio? Atque nesciunt id quos impedit autem error explicabo!
  figure 
