extends layout

block content

  h1= title
  p #{title} include Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, velit. Dicta non, itaque ullam commodi eos culpa explicabo, quasi, at veritatis animi reprehenderit dignissimos dolorem mollitia aliquam natus nam adipisci fugit maiores! Vitae, voluptate, repellendus dignissimos ea cumque unde ullam nostrum culpa laudantium temporibus esse maxime possimus autem. Voluptates, consequuntur! Commodi, quisquam. Quo, sequi hic.
   